@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Azure Program Version 1</h1>
    <marquee direction="left" height="50x" bgcolor="red" behavior="scroll" scrollamount="20"><font color="blue" font size="5"> Aditya Khori </font></marquee>
    <marquee direction="left" height="50px" bgcolor="red" behavior="scroll" scrollamount="10"><font color="yellow" font size="5"> Isha Khori</font></marquee>
</div>
